<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.octopus.pesa">

    <application
        android:name=".PesaApp"
        android:allowBackup="true"
        android:icon="@mipmap/pesa_icon"
        android:label="Pesa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity

            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Pesa"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"></activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DeveloperActivity"
            android:label="@string/title_activity_developer"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.PesaService"
            android:exported="false" />

        <receiver
            android:name=".receivers.SMSNotoficationReceiver"
            android:enabled="true"
            android:exported="true"></receiver>


    </application>

</manifest>